
body {
    background-color: lightgray;
}

header {
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 40px;
}

header a {
    float: left;
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
    padding: 9px 9px 9px 9px;
    font-size: 23px;
    text-decoration-line: underline;
    margin-bottom: 5px;
}

div.pic {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

div.body {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 20px;
    font-size: 30px;
}

p {
    font-family: "Courier New", Courier, monospace;
    color: black;
}

span {
    color: blue;
    font-size: 19;
}

footer {
    margin-left: 20px;
    font-size: 12px;
}